.column {
  	float: left;
  	width: 31.7%;
  	padding: 5px;
  	text-decoration: none;
  	font-size: 13.5px;
  	color: black;
 	  font-weight: 650;
}
.column a {
  	text-decoration: none;
  	color: black;
}
.column2 {
  	float: left;
  	width: 60%;
  	padding: 2.5px;
  	margin-left: 15px;
}
.column2 a h1 {
	font-size: 17.5px;
	font-weight: 650;
	color: black;
}
.column2 a {
	text-decoration: none;
	color: #53b6de;
	font-weight: 750;

}

/* Clearfix (clear floats) */
.row::after {
  	content: "";
  	clear: both;
  	display: table;
}
.box {
	left: 0;
	top: 0;
	width: 95%;
	height: 140px;
	padding: 10px;
	border-bottom: 1.5px solid gray;	
}

